appnope==0.1.4
apptools==5.2.1
asttokens==2.4.1
comm==0.2.1
configobj==5.0.8
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
envisage==7.0.3
exceptiongroup==1.2.0
executing==2.0.1
fonttools==4.48.1
ipyevents==2.0.2
ipykernel==6.29.2
ipython==8.21.0
ipywidgets==8.1.2
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
matplotlib==3.8.2
matplotlib-inline==0.1.6
mayavi==4.8.1
nest-asyncio==1.6.0
numpy==1.26.4
packaging==23.2
parso==0.8.3
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.2.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyface==8.0.0
Pygments==2.17.2
pyparsing==3.1.1
PyQt5==5.15.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
pyzmq==25.1.2
six==1.16.0
stack-data==0.6.3
tornado==6.4
traitlets==5.14.1
traits==6.4.3
traitsui==8.0.0
vtk==9.2.6
wcwidth==0.2.13
widgetsnbextension==4.0.10
